.receitas {         /*arquivo pai receitas*/
    background: #e5e5e5;
    display: flex;  /*para que os elementos fiquem alinhados um do lado do outro.*/
    flex-wrap: wrap;  /*wrap = enrolar, quebra automaticamento os elementos de linhas em colunas*/
    /*padding: 5rem 0 0 5rem; passou para baixo*/
}

@media screen and (min-width: 0) {
    .receitas {
        padding: 5rem 0 0 1rem;
    }
}

@media screen and (min-width: 768px) {
    .receitas {
        padding: 5rem 0 0 2.5rem;
    }
}

@media screen and (min-width: 992px) {
    .receitas {
        padding: 5rem 0 0 5rem;
    }
}